@font-face {
    font-family:varela ;
    src: url("../fonts/VarelaRound.ttf");
    font-display:fallback;
}
@font-face {
    font-family:nunito;
    src: url("../assets/fonts/Nunito.ttf");
    font-display:fallback;
}
body{  
    background-color: #eef;
    font-family:'varela',sans-serif;
    margin:0;
    color:#222;
}
header,footer{
    position:relative;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 5em;
    background-color: #66e;
    border:0.01px solid #0000;
}

main{
    min-height: 40vh;
}
h1,h2{
    font-family: 'varela';
    text-align: center;
    color:#111;
    margin:0.5em;
}
h2{
    color:#333;
}
input,button{
    width:80%;
    outline:none;
    border-style: solid;
    font-size: 1.5em;
    background-color: #eee;
}
button{
    color:#66f;
    background-color: #fd2;
}

button:hover{
    opacity:0.8;
}
p{
    color:#111;
    padding:0.5em;
    text-align: justify;
}
img{
    position:relative;
    width:90%;
    height: auto;
    margin:0.5em;
}
a{ 
    display:block;
    text-align: center;
    color: #fff;
    font-size:0.75em;
    background-color:#f80;
    margin:0 auto;
}
@media (min-width:768px){
    img{
        width:48vw;
        height:auto;
    }
}
main img{
    display:block;
    margin:0 auto;
}

.datos,.resultado{
    position:relative;
    width:15em;
    overflow-wrap: break-word;
    margin: 1em auto;
    text-align: center;
    border:thin solid #333;
    border-radius:1em;
    background-color: #6d9;
}
.datosBloques{
    width:20em;
}
.strong{
    font-weight:600;
}
.centerP{
    text-align: center;
}
.resultado{
    width:100%;
    background-color: #Fd28;
    border:none;
}
.division{
    position:relative;
    width:100%;
    height: 4em;
    background-color: #66f;
}
.logo{
    height:90%;
    width:auto;
}
.agua{
    background-size: cover;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#00f8),to(#00f8));
    background-image: -o-linear-gradient(#00f8,#00f8);
    background-image: linear-gradient(#00f8,#00f8);
 }
 .bloque{
    background-size: cover;
    background-image: url(../imgs/bloquesAgua/block.webp);
 }
 .solOn{
    background-size: contain;
    background-image: url(../imgs/bloquesAgua/sunOn.webp); 
 }
 .solOff{
    background-size: 100% 100%,80% 80%;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#00f8),to(#00f8)),url(../imgs/bloquesAgua/sunOff.webp);
    background-image: -o-linear-gradient(#00f8,#00f8),url(../imgs/bloquesAgua/sunOff.webp);
    background-image: linear-gradient(#00f8,#00f8),url(../imgs/bloquesAgua/sunOff.webp);
    background-repeat: no-repeat;
 }
 .paraBloques{
    min-height: 60vw;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../imgs/bloquesAgua/sunOn.webp),url(../imgs/bloquesAgua/00.png);
    background-size: 12vw 14vw,100% 100%;
    background-position:56% 48.5%,0 0;
    background-repeat: no-repeat;
 }
 @media (min-width:768px){
   
    .paraBloques{
        width:60%;
        min-height:36vw;
        background-size: 7vw 8.4vw, 100% 100%;
        transform:translateY(-30%);
    }  
    .datosBloques{
        width:12em;
        transform:rotate(-90deg) translate(-5%);
    }
}
.datos *{
    display:block;
    margin:0.5em auto;
    border-radius: 0.15em;
}

.datos form{
    min-height:10em;
}

.resultado .fila{ 
    position:relative;
    width:100%;
    height:12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        vertical-align: bottom;
}
@media (min-width:768px){
    .resultado .fila{
        width:100%;
        height:7.2vw; 
    }
}
.resultado .fila div{
    display:inline-block;
    width:12.5%;
    height:100%;
    background-repeat: no-repeat;
    -webkit-animation : fadein 1s ease-in;
            animation : fadein 1s ease-in;
 }

 @-webkit-keyframes fadein {
        0%{opacity:0}
        100%{opacity:1}
}

 @keyframes fadein {
        0%{opacity:0}
        100%{opacity:1}
}
 

