body{  
    background-color: #fff;
    font-family: 'Courier Prime', monospace;
    margin:0;
    color:#111;
}
header,footer{
    position:relative;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    background-color: #efefef;
    border:0.01px solid #0000;
}
footer{
    background-color: #efefef;
}
main{
    min-height: 40vh;
}
h1,h2{
    text-align: center;
    color:#555;
    margin:0.5em;
}
h2{
    color:#333;
}
input,button{
    width:80%;
    font-size: 1.5em;
    background-color: #eee;
}
p{
    padding:0.5em;
    font:100 "Arial",sans-serif;
   text-align: justify;
}
img{
    position:absolute;
    left:0;
    height:90%;
    margin:0.5em;
}
a{  display:block;
    text-align: center;
    color:#111;
    font-size:0.75em;
}
.datos,.resultado{
    position:relative;
    width:15em;
    margin: 1em auto;
    text-align: center;
}
.resultado{
    width:100%;
}
.datos *{
    display:block;
    margin:0.5em auto;
    border-radius: 0.15em;
}
.strong{
    font-weight:600;
}